<h4>Contest Filters Month Wise</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <!-- <td>Merchants</td>
            <td>Rule</td>
            <td>Email</td>
            <td>Number</td>
            <td>Total Answers Given</td>
            <td>Total Right Answers</td> -->
                </tr>
                <tr ng-repeat="item in tableData track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        
                    </td>
                    <!-- <td>{{item.merchant}}</td>
            <td>{{item.number}}</td>
            <td>{{item.totalCount}}</td>
            <td>{{item.count}}</td> -->
                </tr>
            </table>
        </div>
    </div>
</div>
<br>
<!--<pre>
    {{tableData|json}}
</pre>-->