<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div ng-controller="ViewCtrl">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-4 column">
                <div class="heading-profile1">
                    <h2 ng-bind="json.json.title"></h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class=" panel-content ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="widget ">
                    <div class="table-area ">
                        <div class="widget-title ">
                            <div class="pull-right ">
                                <form class="search-form mr-form " ng-hide="json.json.removeSearch">
                                    <input type="text " ng-change="getAllItems(true) " placeholder="Search Here...
                        " ng-model="search.keyword " />
                                </form>
                                <a ng-repeat="btn in json.json.button " ng-if="createButton" class="btn " ng-class="btn.class " ng-click="json.eventAction(btn)">{{btn.name}}</a>
                            </div>
                            <h3>{{json.json.description}} <span class="tableTotal ">(Total : {{totalItems}}) </span></h3>
                        </div>
                        <div class="table-responsive " ng-show="totalItems>0 ">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th ng-if="json.json.rowCheckBox==true">Check</th>
                                        <th>Sr. No.</th>
                                        <th ng-repeat="field in json.json.fields">
                                            {{field.name}}
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in items">
                                        <td ng-if="json.json.rowCheckBox==true"><input ng-if="item.active==true" type="checkbox" ng-model="myChkModel" ng-change="checkboxClick(item._id)"></td>
                                        <td>{{($index + 1)+((currentPage-1)*maxRow)}}</td>
                                        <td ng-repeat="field in json.json.fields">
                                            <view-field type="field" value="item"></view-field>
                                        </td>
                                        <td>

                                            <a style="margin-left:5px;" ng-if="json.json.viewButton" title="{{json.json.viewButton.name}}" class="btn" ng-class="json.json.viewButton.buttonClass" ng-click="viewSingleRuleModal(item)">
                                                <i class="fa" ng-class="json.json.viewButton.icon"></i>
                                             </a>
                                            <a style="margin-left:5px;" ng-repeat="but in json.json.action" ng-show="hasRole({{but.roles}})" title="{{but.name}}" class="btn" ng-class="but.buttonClass" ng-click="json.eventAction(but,item) ">
                                                <i class="fa" ng-class="but.icon"></i>
                                            </a>
                                            <a style="margin-left:5px;" ng-if="json.json.queryButton" title="{{json.json.queryButton.name}}" class="btn" ng-class="json.json.queryButton.buttonClass" ng-click="viewQueryModal(item)">
                                                <i class="fa" ng-class="json.json.queryButton.icon"></i>
                                             </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                                <a class="btn btn-primary" ng-if="json.json.bottomButton" ng-show="hasRole({{json.json.bottomButton[0].roles}})" ng-class="btn.class " ng-click="playSelectedClick()">{{json.json.bottomButton[0].name}}</a>
                                <a class="btn btn-primary" ng-if="json.json.bottomButtonPlayAll" ng-show="hasRole({{json.json.bottomButtonPlayAll[0].roles}})" ng-class="btn.class " ng-click="playSelectedAllClick()">{{json.json.bottomButtonPlayAll[0].name}}</a>
                                
                        </div>
                        <!-- <div ng-if="json.json.bottomButtonPlayAll">
                                
                        </div> -->
                        <br>
                        <div class="tableData " ng-show="totalItems===0 ">
                            <h5>No data found</h5>
                        </div>
                        <div class="tableData " ng-show="totalItems===undefined ">
                            <h5>Loading Data</h5>
                        </div>
                        <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="template.pageMax "
                            class="pagination-sm
                                            " boundary-links="true " force-ellipses="true "></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>