<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div ng-controller="ViewCtrl">
        <!-- <div style="margin-left:25%" ng-if="json.json.loader==true"class="loading"><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" width="50" height="50" />LOADING...</div> -->
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-4 column">
                <div class="heading-profile1">
                    <h3 ng-bind="json.json.title"></h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class=" panel-content ">
            <div class="row ">
            <div class="col-md-12 ">
                <div class="widget ">
                    <div class="table-area ">
                        <div class="widget-title ">
                            <div  ng-if="json.json.loader==true" style="display: block;position: fixed;z-index: 9999;width: 250px;margin-left: -125px;left: 50%;top: 50%; height: 100px;padding: 10px;background-color: #49caf2;border-radius: 4px;" loading-indicator class="waiting-box">
                                <span>Please Wait...
                                    <img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" />
                                </span>
                            </div>
                            <div ng-if="json.json.showCountOnView">
                                <h5>Total Active Rules: <span style="color:green">{{allActiveRulesCount}}</span> & Total Inactive Rules: <span style="color:red">{{allInactiveRulesCount}}</span></h5>
                                <br>
                            </div>
                            <div class="pull-right ">
                                <form class="search-form mr-form " ng-hide="json.json.removeSearch">
                                    <input type="text " ng-change="getAllItems(true) " placeholder="Search Here...
                        " ng-model="search.keyword " />
                                </form>
                                <a ng-show="hasRole({{json.json.topButtonChangeAll.roles}})" ng-if="json.json.topButtonChangeAll" class="btn " ng-class="json.json.topButtonChangeAll.class "
                                    ng-click="clickChangeAllButton()">{{json.json.topButtonChangeAll.name}}</a>
                                   
                                    <a ng-href="../img/logo.png" download ng-show="hasRole({{json.json.topButtonChangeAll.roles}})" ng-if="json.json.downloadFileFormatButton" class="btn btn-primary" 
                                    ng-click=""><i class="fa fa-table"></i> {{json.json.downloadFileFormatButton.name}}</a>
                                    <!-- <a class="btn btn-success" ng-href="../importFormat/{{form.model}}.xlsx" download><i class="fa fa-table"></i> Download Excel Format </a> -->
                                    

                                <a ng-repeat="btn in json.json.button " ng-show="hasRole({{btn.roles}})" class="btn " ng-class="btn.class " ng-click="json.eventAction(btn)">{{btn.name}}</a>
                                <!-- <a style="margin-left:5px;" ng-if="json.json.topButtonChangeAll" title="{{json.json.topButtonChangeAll.name}}" class="btn" ng-class="json.json.topButtonChangeAll.buttonClass" ng-click="clickChangeAllButton()">
                                    {{json.json.topButtonChangeAll.name}}
                                 </a> -->
                                 <!-- for filter start -->
                                 <a class="btn btn-default" ng-if="json.json.filter" ng-click="showFilter();">Filter</a>
                                 <!-- for filter end -->
                            </div>
                            <h3>{{json.json.description}}
                                <span class="tableTotal ">(Total : {{totalItems}}) </span>
                            </h3>
                        </div>

                        <div class="table-responsive " ng-show="totalItems>0 ">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th ng-if="json.json.rowCheckBox==true">Check</th>
                                        <th ng-if="json.json.rowCheckBoxForMarketing==true">Check</th>
                                        <th ng-if="json.json.rowCheckBoxForPerformance==true">Check</th>
                                        <th ng-if="json.json.rowCheckBoxForPerformanceRepay==true">Check</th>
                                        <th ng-if="json.json.rowCheckBoxForMerchantExposureCategory==true">Check</th>
                                        <!-- <th>Sr. No.</th> -->
                                        <th ng-repeat="field in json.json.fields">
                                                <table style="margin-bottom:-8px;" border="0" class="table" ng-if="field.customHeader">
                                                    <tr align="center" style="border-top: none important;">
                                                        <td style="width:130px"><b>Type</b></td>
                                                        <td style="width:120px"><b>Txn. Amount </b></td>
                                                        <td style="width:70px"><b> % </b></td>
                                                    </tr>
                                                </table>
                                                <span ng-if="!field.customHeader">
                                                        {{field.name}}
                                                </span>
                                            
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in items">
                                        <td ng-if="json.json.rowCheckBox==true">
                                            <input ng-if="item.active==true" type="checkbox" ng-model="myChkModel" ng-change="checkboxClick(item._id)">
                                        </td>
                                        <td ng-if="json.json.rowCheckBoxForMarketing==true">
                                            <input type="checkbox" ng-model="myChkModel" ng-change="checkboxMarketingClick(item._id)">
                                        </td>
                                        <td ng-if="json.json.rowCheckBoxForPerformance==true">
                                            <input type="checkbox" ng-model="myChkModel" ng-change="checkboxPerformanceClick(item._id)">
                                        </td>
                                        <td ng-if="json.json.rowCheckBoxForPerformanceRepay==true">
                                            <input type="checkbox" ng-model="myChkModel" ng-change="checkboxPerformanceRepayClick(item._id)">
                                        </td>
                                        <td ng-if="json.json.rowCheckBoxForMerchantExposureCategory==true">
                                            <input type="checkbox" ng-model="myChkModel" ng-change="checkboxMerchantExposureCategoryClick(item._id)">
                                        </td>
                                        <!-- <td>{{($index + 1)+((currentPage-1)*maxRow)}}</td> -->
                                        <td  valign="center" ng-repeat="field in json.json.fields">
                                            <view-field type="field" value="item"></view-field>
                                        </td>
                                        <td>
                                            <!-- Cashback Rule View button start -->
                                            <a style="margin-left:5px;" ng-if="json.json.viewButton" title="{{json.json.viewButton.name}}" class="btn" ng-class="json.json.viewButton.buttonClass"
                                                ng-click="viewSingleRuleModal(item)">
                                                <i class="fa" ng-class="json.json.viewButton.icon"></i>
                                            </a>
                                            <!-- Cashback Rule View button end -->
                                            <!-- Marketing Rule View button start -->
                                            <a style="margin-left:5px;" ng-if="json.json.viewMarketingRuleButton" title="{{json.json.viewMarketingRuleButton.name}}" class="btn" ng-class="json.json.viewMarketingRuleButton.buttonClass"
                                                ng-click="viewSingleMarketingRuleModal(item)">
                                                <i class="fa" ng-class="json.json.viewMarketingRuleButton.icon"></i>
                                            </a>
                                            <!-- Marketing Rule View button end -->
                                            
                                            <!-- Marketing Campaign View button start -->
                                            <a style="margin-left:5px;" ng-if="json.json.viewMarketingCampaignButton" title="{{json.json.viewMarketingCampaignButton.name}}" class="btn" ng-class="json.json.viewMarketingCampaignButton.buttonClass"
                                                ng-click="viewSingleMarketingCampaignModal(item)">
                                                <i class="fa" ng-class="json.json.viewMarketingCampaignButton.icon"></i>
                                            </a>
                                            <!-- Marketing Campaign View button end -->
                                            <!-- Collection Engine View button start -->
                                            <a style="margin-left:5px;" ng-if="json.json.viewCollectionEngineButton" title="{{json.json.viewCollectionEngineButton.name}}" class="btn" ng-class="json.json.viewCollectionEngineButton.buttonClass"
                                            ng-click="viewSingleCollectionEngineModal(item)">
                                            <i class="fa" ng-class="json.json.viewCollectionEngineButton.icon"></i>
                                        </a>
                                        <!-- Collection Engine View button end -->
                                            
                                            <!-- Exposure merchant View button start -->
                                            <a style="margin-left:5px;" ng-if="json.json.viewExposureMerchantButton" title="{{json.json.viewExposureMerchantButton.name}}" class="btn" ng-class="json.json.viewExposureMerchantButton.buttonClass"
                                            ng-click="viewSingleExposureMerchantModal(item)">
                                            <i class="fa" ng-class="json.json.viewExposureMerchantButton.icon"></i>
                                        </a>
                                        <!-- Exposure merchant View button ends -->
                                            <!-- Exposure merchant Category View button start -->
                                            <a style="margin-left:5px;" ng-if="json.json.viewExposureMerchantCategoryButton" title="{{json.json.viewExposureMerchantCategoryButton.name}}" class="btn" ng-class="json.json.viewExposureMerchantCategoryButton.buttonClass"
                                            ng-click="viewSingleExposureMerchantCategoryModal(item)">
                                            <i class="fa" ng-class="json.json.viewExposureMerchantCategoryButton.icon"></i>
                                        </a>
                                        <!-- Exposure merchant Category View button ends -->

                                            <!-- Exposure Rule View button start -->
                                            <a style="margin-left:5px;" ng-if="json.json.viewExposureRuleButton" title="{{json.json.viewExposureRuleButton.name}}" class="btn" ng-class="json.json.viewExposureRuleButton.buttonClass"
                                            ng-click="viewSingleExposureRuleModal(item)">
                                            <i class="fa" ng-class="json.json.viewExposureRuleButton.icon"></i>
                                        </a>
                                        <!-- Exposure Rule View button ends -->

                                            <!-- Mailer List button start -->
                                            <a style="margin-left:5px;" ng-if="json.json.viewMailerListButton" title="{{json.json.viewMailerListButton.name}}" class="btn" ng-class="json.json.viewMailerListButton.buttonClass"
                                            ng-click="viewSingleMailerListModal(item)">
                                            <i class="fa" ng-class="json.json.viewMailerListButton.icon"></i>
                                        </a>
                                        <!-- Mailer List button ends -->
                                            <a style="margin-left:5px;" ng-repeat="but in json.json.action" ng-show="hasRole({{but.roles}})" title="{{but.name}}" class="btn"
                                                ng-class="but.buttonClass" ng-click="json.eventAction(but,item) ">
                                                <i class="fa" ng-class="but.icon"></i>
                                            </a>
                                            <a style="margin-left:5px;" ng-if="json.json.queryMarketingRuleButton" title="{{json.json.queryMarketingRuleButton.name}}" class="btn" ng-class="json.json.queryMarketingRuleButton.buttonClass"
                                                ng-click="viewMarketingRuleQueryModal(item)">
                                                <i class="fa" ng-class="json.json.queryMarketingRuleButton.icon"></i>
                                            </a>
                                            <a style="margin-left:5px;" ng-if="json.json.queryButton" title="{{json.json.queryButton.name}}" class="btn" ng-class="json.json.queryButton.buttonClass"
                                                ng-click="viewQueryModal(item)">
                                                <i class="fa" ng-class="json.json.queryButton.icon"></i>
                                            </a>

                                            <a style="margin-left:5px;" ng-if="json.json.queryButtonCollectionEngine" title="{{json.json.queryButtonCollectionEngine.name}}" class="btn" ng-class="json.json.queryButtonCollectionEngine.buttonClass"
                                            ng-click="viewQueryCollectionEngineModal(item)">
                                            <i class="fa" ng-class="json.json.queryButtonCollectionEngine.icon"></i>
                                        </a>

                                            <!-- Marketing Rule Get Count button start -->
                                            <a style="margin-left:5px;" ng-if="json.json.getMarketingRuleCountButton" title="{{json.json.getMarketingRuleCountButton.name}}" class="btn" ng-class="json.json.getMarketingRuleCountButton.buttonClass"
                                            ng-click="viewMarketingRuleGetCountResponseModal(item)">
                                            Get Count
                                            <!-- <i class="fa" ng-class="json.json.getMarketingRuleCountButton.icon"></i> -->
                                        </a>
                                        <!-- Marketing Rule Get Count button end -->
                                        

                                        <!-- Marketing Campaign Get Count button start -->
                                        <a style="margin-left:5px;" ng-if="json.json.getMarketingCampaignCountButton" title="{{json.json.getMarketingCampaignCountButton.name}}" class="btn" ng-class="json.json.getMarketingCampaignCountButton.buttonClass"
                                        ng-click="viewMarketingCampaignGetCountResponseModal(item)">
                                        Get Count
                                        <!-- <i class="fa" ng-class="json.json.getMarketingCampaignCountButton.icon"></i> -->
                                    </a>
                                    <!-- Marketing Rule Get Count button end -->

                                            <a style="margin-left:5px;" ng-if="json.json.playMarketingRule" title="{{json.json.playMarketingRule.name}}" class="btn" ng-class="json.json.playMarketingRule.buttonClass"
                                                ng-click="playSelectedAllClickMarketing(item)">
                                                Play Rule
                                            </a>
                                            
                                            <a style="margin-left:5px;" ng-if="json.json.playMarketingCampaign" title="{{json.json.playMarketingCampaign.name}}" class="btn" ng-class="json.json.playMarketingCampaign.buttonClass"
                                            ng-click="playSelectedMarketingCampaign(item)">
                                            Play Rule
                                        </a>
                                            <a style="margin-left:5px;" ng-if="json.json.playPerformanceRule" title="{{json.json.playPerformanceRule.name}}" class="btn" ng-class="json.json.playPerformanceRule.buttonClass"
                                            ng-click="playSelectedAllClickPerformance(item)">
                                            Play Rule
                                            </a>

                                            <a style="margin-left:5px;" ng-if="json.json.playPerformanceRepayRule" title="{{json.json.playPerformanceRepayRule.name}}" class="btn" ng-class="json.json.playPerformanceRepayRule.buttonClass"
                                            ng-click="playSelectedAllClickPerformanceRepay(item)">
                                            Play Rule
                                            </a>

                                            <a style="margin-left:5px;" ng-if="json.json.playCollectionEngine" title="{{json.json.playCollectionEngine.name}}" class="btn" ng-class="json.json.playCollectionEngine.buttonClass"
                                            ng-click="playCollectionEngine(item)">
                                            Play Rule
                                        </a>
                                            <!-- <a class="btn btn-primary" ng-if="json.json.bottomButtonPlayAllMarketing" ng-show="hasRole({{json.json.bottomButtonPlayAllMarketing[0].roles}})"
                                            ng-class="btn.class " ng-click="playSelectedAllClickMarketing()">{{json.json.bottomButtonPlayAllMarketing[0].name}}</a> -->
                                        
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <a class="btn btn-primary" ng-if="json.json.bottomButtonPlayAllActive" ng-show="hasRole({{json.json.bottomButtonPlayAllActive.roles}})"
                                ng-class="btn.class " ng-click="playSelectedAllActiveClick()">{{json.json.bottomButtonPlayAllActive.name}}</a>
                            <a class="btn btn-primary" ng-if="json.json.bottomButton" ng-show="hasRole({{json.json.bottomButton[0].roles}})" ng-class="btn.class "
                                ng-click="playSelectedClick()">{{json.json.bottomButton[0].name}}</a>
                            <a class="btn btn-primary" ng-if="json.json.bottomButtonPlayAll" ng-show="hasRole({{json.json.bottomButtonPlayAll[0].roles}})"
                                ng-class="btn.class " ng-click="playSelectedAllClick()">{{json.json.bottomButtonPlayAll[0].name}}</a>

                            <a class="btn btn-primary" ng-if="json.json.bottomButtonPlayAllActiveMarketing" ng-show="hasRole({{json.json.bottomButtonPlayAllActiveMarketing.roles}})"
                                ng-class="btn.class " ng-click="playSelectedAllActiveClickMarketing()">{{json.json.bottomButtonPlayAllActiveMarketing.name}}</a>
                            <a class="btn btn-primary" ng-if="json.json.bottomButtonMarketing" ng-show="hasRole({{json.json.bottomButtonMarketing[0].roles}})" ng-class="btn.class "
                                ng-click="playSelectedAllClickMarketing()">{{json.json.bottomButtonMarketing[0].name}}</a>
                            <a class="btn btn-primary" ng-if="json.json.bottomButtonPlayAllMarketing" ng-show="hasRole({{json.json.bottomButtonPlayAllMarketing[0].roles}})"
                                ng-class="btn.class " ng-click="playSelectedAllClickMarketing()">{{json.json.bottomButtonPlayAllMarketing[0].name}}</a>
                            
                            <a class="btn btn-primary" ng-if="json.json.bottomButtonPerformance" ng-show="hasRole({{json.json.bottomButtonPerformance[0].roles}})" ng-class="btn.class "
                                ng-click="playSelectedAllClickPerformance()">{{json.json.bottomButtonPerformance[0].name}}</a>

                            <a class="btn btn-primary" ng-if="json.json.bottomButtonPerformanceRepay" ng-show="hasRole({{json.json.bottomButtonPerformanceRepay[0].roles}})" ng-class="btn.class "
                                ng-click="playSelectedAllClickPerformanceRepay()">{{json.json.bottomButtonPerformanceRepay[0].name}}</a>

                            <a class="btn btn-primary" ng-if="json.json.bottomButtonExposureMerchantCategory" ng-show="hasRole({{json.json.bottomButtonExposureMerchantCategory[0].roles}})" ng-class="btn.class "
                                ng-click="playSelectedClickExposureMerchantCategory()">{{json.json.bottomButtonExposureMerchantCategory[0].name}}</a>
                        </div>
                        <!-- <div ng-if="json.json.bottomButtonPlayAll">
                                
                        </div> -->
                        <br>
                        <div class="tableData " ng-show="totalItems===0 ">
                            <h5>No data found</h5>
                        </div>
                        <div class="tableData " ng-show="totalItems===undefined ">
                            <h5>Loading Data</h5>
                        </div>
                        <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="template.pageMax "
                            class="pagination-sm
                                            " boundary-links="true " force-ellipses="true "></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>