<form name="merchantCategoryForm" ng-submit="disableMerchantCategoryOnSubmit(objectToBeDisable);">
        <div class="modal-header blue-bg  ">
            <div class="pull-right">
                <a class="btn btn-clear" ng-click="$dismiss()">
                    <i class="ln-cross"></i>
                </a>
            </div>
            <h5 class="modal-title">Disable {{objectToBeDisable.name}}</h5>
        </div>
        <div style="margin: 20px;">
    
        
            <div class="row form-group">
                <label style:"align:center">Reason :</label>
                <!-- <text-angular ng-model="objectToBeDisable.reason" name="reason"></text-angular> -->
                <!-- <textarea ng-model="objectToBeDisable.reason" style="">{{objectToBeDisable.reason | json}}</textarea> -->
                
                <input type="text" name="reason" placeholder="Enter Reason" ng-model="objectToBeDisable.reason" class="form-control">
            </div>

            <div class="row form-group">
                <label>User<span style="color:red">*</span> :</label>
                <input type="text" name="user" placeholder="Enter User" ng-model="objectToBeDisable.user" class="form-control" required>
                <div class="error-msg" ng-show="merchantCategoryForm.name.$invalid && merchantCategoryForm.name.$touched">Folder Name is required</div>
            </div>
            <div class="digital-submit text-center">
                <button class="btn btn-primary btn-save" type="submit" ng-disabled="merchantCategoryForm.$invalid" ng-click="submitUser1(formData)"
                    class=" btn btn-default ">Submit</button>
                <button class="btn btn-danger btn-cancel" ng-click="$dismiss()">Cancel</button>
            </div>
        </div>
    </form>
    