<form name="modalForm" ng-submit="$dismiss()" class="min-hit">
        
            <div class="modal-header blue-bg  ">
                <div class="pull-right">
                    <a class="btn btn-clear" ng-click="$dismiss()">
                        <i class="ln-cross"></i>
                    </a>
                </div>
                        <h5 class="modal-title">
                                <b>Performance Rule Played Successfully</b>
                            </h5>
                
            </div>
            <!-- <div class="row" style="margin:20px">
                <table style="border: 1px solid black;" width="100%">
                    <tr>
                        <th style="text-align: right;border: 1px solid black;">Total Users In File:</th>
                        <td style="padding: 10px;text-align: left;border: 1px solid black;">{{playPerformanceResponse.totalUsersInFile}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;border: 1px solid black;">Total Users Transacted:</th>
                        <td style="padding: 10px;text-align: left;border: 1px solid black;">{{playPerformanceResponse.numberOfUsers}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;border: 1px solid black;">Number Of Transactions:</th>
                        <td style="padding: 10px;text-align: left;border: 1px solid black;">{{playPerformanceResponse.numberOfTransactions}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;border: 1px solid black;">Total Amount is:</th>
                        <td style="padding: 10px;text-align: left;border: 1px solid black;">{{playPerformanceResponse.totalAmount}}</td>
                    </tr>
                </table>
            </div> -->
            <!-- {{playPerformanceResponse}} -->
            <div class="row" style="margin:20px;">
                <span style="color:green;">Total Users In File: </span><b>{{playPerformanceResponse.totalUsersInFile}}</b>
            </div>
            <div class="row" style="margin:20px;">
                <span style="color:green;">Number Of Transacted Users Overall: </span><b>{{playPerformanceResponse.numberOfUniqueUsers}}</b>
            </div>
            <div class="row" style="margin:20px;">
                <span style="color:green;">Number Of Transactions Overall: </span><b>{{playPerformanceResponse.numberOfTransactionsOverall}}</b>
            </div>
            <div class="row" style="margin:20px;">
                <span style="color:green;">Total Overall Amount: </span><b>{{playPerformanceResponse.totalAmountOverall}}</b>
            </div>

<div>
            <div class="row" style="margin:20px;">
                <span style="color:green;">Number Of Transacted Users On Other Merchants: </span><b>{{playPerformanceResponse.numberOfUniqueUsersOtherMerchants}}</b>
            </div>
            <div class="row" style="margin:20px;">
                <span style="color:green;">Number Of Transactions On Other Merchants: </span><b>{{playPerformanceResponse.numberOfTransactionsOtherMerchants}}</b>
            </div>
            <div class="row" style="margin:20px;">
                <span style="color:green;">Total Amount On Other Merchants: </span><b>{{playPerformanceResponse.totalAmountOtherMerchants}}</b>
            </div>


            <div class="row" style="margin:20px;">
                <span style="color:green;">Number Of Transacted Users On Given Merchants: </span><b>{{playPerformanceResponse.numberOfUniqueUsersGivenMerchants}}</b>
            </div>
            <div class="row" style="margin:20px;">
                <span style="color:green;">Number Of Transactions On Given Merchants: </span><b>{{playPerformanceResponse.numberOfTransactionsGivenMerchants}}</b>
            </div>
            <div class="row" style="margin:20px;">
                <span style="color:green;">Total Amount On Given Merchants: </span><b>{{playPerformanceResponse.totalAmountGivenMerchants}}</b>
            </div>
        </div>



            <!-- <div class="row" style="margin:20px;" ng-if="">
                <span style="color:green;">Total Overall Amount is: </span><b>{{playPerformanceResponse.totalAmountOverall}}</b>
            </div> -->
        <br>
        </form>      
        
        
        