<form name="modalForm" ng-submit="$dismiss()" class="min-hit">

    <div class="modal-header blue-bg  ">
        <div class="pull-right">
            <a class="btn btn-clear" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </a>
        </div>
        <h5 class="modal-title">
            <b>Performance File Format</b>
        </h5>

    </div>
    <div class="row">
        <br>
        <div style="display: table;margin-right: auto;margin-left: auto;">
            <div style="display: table;margin-right: auto;margin-left: auto;" class="singleRuleHeadings">Mobile & Email:</div>  
            <img src="img/mailAndMobileNew.png" alt="Absolute" height="350">
        </div>
        
        <div style="display: table;margin-right: auto;margin-left: auto;">
                <div style="display: table;margin-right: auto;margin-left: auto;" class="singleRuleHeadings">Email:</div>  
                
            <img src="img/emailNew.png" alt="Absolute" height="350">
        </div>
        <div style="display: table;margin-right: auto;margin-left: auto;">
            <div style="display: table;margin-right: auto;margin-left: auto;" class="singleRuleHeadings">Mobile:</div>      
            <img src="img/mobileNew.png" alt="Absolute" height="350">
        </div> <!-- <div class="col-md-3" style="margin-left:10px"><img src="img/performance.png" alt="Absolute" height="200"></div> -->
            
    </div>
<br>
</form>



